#report-header{
    height: 7vh;
    width: 100vw;
    background-color: #a8dadc;
    text-align: center;
}

#image-container{
    flex-direction: column;
    text-align: center;
}
.mapped-img{
    margin: 5px;
}
.selected{
    border: 2px dotted  #a8dadc
}
.next{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.previous{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.alert-head-img{
height: 30vh;
width: 100%;
margin-bottom: 2%;
}
.alert-title-card{
margin: 2%;
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px #888888;
min-height: 10vh;
margin-bottom: 3vh;
display: flex;
font-size: medium;
line-height: 6%;
}
.alert-info-card{
margin: 2%;
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px #888888;
min-height: 30vh;
}
.animation-design{
    background-color: lightblue;
    border: 3px dashed royalblue;
}
.mb-3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.upload-file{
    text-align: center;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color:white;

}