#report-header{
    height: 7vh;
    width: 100vw;
    background-color: #a8dadc;
    text-align: center;
}
#report-container{
    
}
#animation{
        display: flex;
        flex-direction: column;
}
#line{
    text-align: center;
}
