.summary-body {
  text-align: -webkit-right;
  padding-right: 5vw;
}

.summary-top {
  background-color: royalblue;
  margin: 0;
  width: 100vw;
  padding-top: 1vh;
  padding-bottom: 3vh;
  text-align: center;
  color: white;
  font-size: large;
}
.back-button {
  background: none;
  border: none;
  font-size: small;
  display: list-item;
  text-align: end;
}

.card-summary {
  display: flex;
  margin-left: 7vw;
  justify-content: space-between;
  flex-wrap: wrap;
  place-content: center;
}

.card-img-top {
  margin-bottom: 2vh;
}
